body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  align-items: center;
  border-bottom: 1px solid seashell;
  display: flex;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

header img {
  height: 50px;
  padding-left: 10px;
}

a {
  color: seashell;
}

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#mission {
  background-image:url(../images/mission-background.jpg);
  height: 700px;
  padding-top: 70px;
}

#mission .content {
  background-color: black;
  margin: auto;
  width: 1200px;
  justify-content: center;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

#tea-month {
  padding: 70px 0px;
}

.item img {
  height: 200px;
  width: 300px;
  display: block;
  margin: 15px;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

#locations {
  background-image: url(../images/locations-background.jpg);
  min-height: 500px;
  width: 1200px;
  padding-top: 70px;
}

.places {
  opacity: 1;
  background-color: black;
  width: 280px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  margin: 5px 20px;
}

p {
  display: block;
}

footer {
  text-align: left;
  padding-left: 20px;
}
